.painel{
    background: blue;
    margin: 40px 400px;
    width: 250px;
    height: 300px;
    border-radius: 30px;
}

input{
    margin: 5px 25px;
 
}

button{
    margin: 5px;
    height: 40px;
   background: brown;
   color: antiquewhite;
   font-weight: bold;
}